/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --black: #000000;

  --grad-1000: #1C1C1C;
  --grad-900: #3C3C3C;
  --grad-500: #5C5C5C;
  --grad-400: #707070;
  --grad-300: #A7A7A7;
  --grad-100: #CACACA;

  --green: #00D5BE;
  --purple: #D1ACFF;
  --red: #FF3041;
}

:root {
  --color-text: var(--grad-900);

  --z-index-nba-cover: 2;
  --z-index-overlay: 1;
  --z-index-three-js: 0;
  --z-index-loading: 999;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--grad-900);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow: hidden;
  position: fixed;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--grad-900);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.4rem;
  font-family: ab-megadot9, source-han-sans-traditional, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  color: var(--white);
  font-size: 1.6rem;
  font-family: source-han-sans-traditional, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ab-megadot9 {
  font-family: ab-megadot9, source-han-sans-traditional, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.ab-megadot9.bold {
  font-weight: 700;
}

.lo-res-12 {
  font-family: lores-12-bold-alt-oakland, source-han-sans-traditional, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.lo-res-12.bold {
  font-weight: 700;
}

.source-han-sans-bold {
  font-family: source-han-sans-traditional, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.source-han-sans-light {
  font-family: source-han-sans-traditional, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.error-mssage {
  color: var(--red);
  font-family: source-han-sans-traditional, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding-top: 8px;
  font-size: 1.5rem;
}

input::placeholder {
  color: var(--grad-100);
  font-size: 1.6rem;
  font-family: source-han-sans-traditional, sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  color: var(--green);
}

.btn {
  max-width: 249px;
  width: 100%;
  border-radius: 36px;
  padding: 14px 0;
  border: none;
  background-color: #EDEDED;
}

.btn p {
  color: #000000;
}